
*{
    /* margin: 0px;
    padding: 0px; */

}


body {
    background-color: #ddd;
    color: black;
}


.flex-container {
    display: flex;
    background-color: blueviolet;
    height: 250px;
    flex-direction: row;

    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* wrap dedigimizde height i silelim yukaridaki 
    yine dürü myapar */


    /* flex-flow: row nowrap;
    flex-flow: row wrap;
    flex-flow: column nowrap; */
    /* flex-flow: column wrap-reverse; */

    /* justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around; */
    /* sol ve sag ortalarin yarisi kadar  */
    /* justify-content: space-evenly; */


    /* bu siralama degistirmez oldugu gibi 
    saga yaslar */

    /* iki item basa iki item sona icin 
    ikisini ayri ayri divlerin icersine al 
    ana kutu icerisinde iki ana kutu geri kalan
    onlarin icinde*/


    /* align-items: stretch; */
    /* yükseklik veriyorsam hepsini kapsa */
    /* align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline; */

    /* align items hep beraber bütün 
    itemlar üste alta yerlesme */




    /* flex-wrap: wrap; */
    /* align-content basliyor  */
    /* burada flex wrap sarti var */

    /* align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-between;
    align-content: space-around; */

    /* align-content 'in justify-content ve align-items dan farkı birden fazla satırda item olursa onları dikey alanda konumlandırmak diyebilir miyiz_? */

    /* justifay content ve align items 
    tek bir kutuyu tam ortaya getirmek icin 
    bu ikisi center yapilir  */



    /* direction i column yapip order deneyelim  */



}

.flex-items {
    border: 1px solid green;
    padding: 5px;
    width: 100px;
    height: 50px;
    background-color: aqua;
    /* sadece bunlarla 9 saga dogru kacar  */
    


}


/* width: clamp(200px, 50%, 300px); gibi */


#item1 {
    /* font-size: 36px;
    height: 100px;
    padding: 20px; */
    /* padding versek de calisir align items */

    /* order default 0  */
    /* order: 5; */
    order: 0;
    background-color: red;
    /* flex-grow: 1; */
    /* bu durumda tüm boslugu kapsar */
    flex-grow: 3;
    flex-shrink: 4;
    /* daralma katsayisi */
    /* 0 verirsek daralmaz 
    boyutlari önemli ise */
    /* flex-basis: 150px; */


    /* flex: 1 2 150px; */
    /* 1 grow
    2 shrink 
    150px basis  */


    align-self: flex-end;




}

#item3 {
    /* font-size: 8px;
    height: 40px; */
    background-color: green;
    /* order: 1; */
    /* gider 1 in sagina koyar bu d a1 olursa 
    zaten ben 1 den sonra gelen bir elementim der*/
    /* order: -4; */
    flex-grow: 1;
    /* flex-basis: 20%; */
    /* bunun yerine width de verilebilir
    shorthand de width kullanilmaz
    ama bu kullanilir */
    


    align-self: center;
    /* bunlari birde column da deneyelim  */
    /* tüm kutulari farkli yerlere olabilir  */

}

#item5 {
    /* font-size: 24px;
    height: 20px; */
    background-color: blue;
    /* order: 2; */
    /* order: -1; */
    /* flex-grow: 2; */
}

/* grow birine 3 birine 1 verirsek bosluk 400 px 
alanai biri 3 birim alir biri 1 birim alir */


/* order degeri en kücük olan en basa en sola gecer */

/* daraltirken asagi insin dersek flex wrap 
wrap verecegiz */


/* shrink default 1 
yani 1 birim kücülür hepsi  */



/* hocam center la end in arasına koymak ıstersem nasıl yaparım
marginle ayarlanir */

/* https://app.peardeck.com/review/student/ttovuabvt */




