
* {
    margin: 0px;
    padding: 0px;
}   
/* universal selector */

body {
    background-color: #f5c5c5;
}

.box {
    background-color: white;
    width: 80%;
    margin: 100px auto;
}

.one {
    background-color: red;
    height: 50px;
}

.two {
    background-color: black;
    height: 200px;
    /* width: 200px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px; */
    margin: 20px 10px 40px 10px;
}

.three {
    background-color: chartreuse;
    height: 150px;
    width: 150px;
}

